apiVersion: v1
data:
  PSQL_HOST: "pop-rw.citypost.us"
  PSQL_PORT: "5432"
  PSQL_USER: "postgres"
  PSQL_PASSWORD: "Asterisk@123"
  PSQL_DB_NAME: "scm_ads"
  AUTH_VERBOSE_ERRORS: "true"
  AUTH_RETURN_RESET_TOKEN: "true"
  SMTP_HOST: "smtp.gmail.com"
  SMTP_PORT: "587"
  SMTP_USER: "citypost@smartcitymedia.us"
  SMTP_PASSWORD: "iwud bnba gmpi dbct"
  SMTP_FROM: "citypost@smartcitymedia.us"
  SMTP_USE_TLS: "true"
  AWS_ACCESS_KEY_ID: ""
  AWS_SECRET_ACCESS_KEY: ""
  AUTH_RESET_PASSWORD_URL: "https://scm-ads-api.citypost.us/api/v1/auth/reset-password"
  CORS_ALLOWED_ORIGINS: "https://scm-ads.citypost.us,http://localhost:4200,https://pivotal-cms.web.app,https://pivotal-display.web.app"
  CITYPOST_CONSOLE_BASE_URL: "https://consoleapi.citypost.us/scm-cloud"
  CITYPOST_CONSOLE_USERNAME: "girish@smartcitymedia.us"
  CITYPOST_CONSOLE_PASSWORD: "liv3wire"
  CITYPOST_CONSOLE_AUTH_SCHEME: "Token"
  VERSION: "0.0.18"
kind: ConfigMap
metadata:
  name: scm-ads-api
  namespace: backend
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: scm-ads-api
  namespace: backend
  labels:
    app: scm-ads-api
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: scm-ads-api
  template:
    metadata:
      labels:
        app: scm-ads-api
        version: v0.0.1
    spec:
      containers:
      - name: scm-ads-api
        image: smartcitymedia/scm-ads-api:0.0.18
        envFrom:
          - configMapRef:
              name: scm-ads-api
        ports:
        - containerPort: 8080
      imagePullSecrets:
        - name: scm-registrypullsecret
---
apiVersion: v1
kind: Service
metadata:
  name: scm-ads-api
  namespace: backend
spec:
  ports:
  - name: http
    targetPort: 8080
    port: 8080
  selector:
    app: scm-ads-api
---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: scm-ads-api
  namespace: backend
spec:
  entryPoints:
    - web
    - websecure
  routes:
    - match: Host(`scm-ads-api.citypost.us`)
      kind: Rule
      services:
        - name: scm-ads-api
          port: 8080
  tls:
    secretName: traefik-cert