# RSS Feed Configuration
RSS_FEED_URL=https://chicago.eater.com/rss/index.xml

# MongoDB Configuration
MONGO_URI=mongodb://admin:asterisk@prod-mongodb-svc.db.svc.cluster.local:27017/admin?replicaSet=prod-mongodb&authSource=admin
MONGO_DB=chicago

# Target City/Region
TARGET_CITY=chicago
TARGET_REGION=chi

# Poster Settings
POSTER_LIFESPAN_DAYS=7
MAX_ARTICLES=10
